form {
  
    display:flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: cadetblue;

}
input{
    margin: 15px;
   
}

button{
    margin: 10px;
}